/BlogEngine/Adventure.Common/bin
/BlogEngine/Adventure.Common/obj
/BlogEngine/Adventure.Tests/bin
/BlogEngine/Adventure.Tests/obj
/BlogEngine/BlogEngine.Core/obj
/BlogEngine/BlogEngine.Core/bin
/BlogEngine/BlogEngine.NET/bin
/BlogEngine/packages
/BlogEngine/BlogEngine.Tests/bin
/BlogEngine/BlogEngine.Tests/obj
/BlogEngine/.vs
/BlogEngine/BlogEngine.NET/App_Data/PublishProfiles/*.user
/BlogEngine/BlogEngine.NET/*.user
/BlogEngine/BlogEngine.NET/Properties/PublishProfiles/*.user
/BlogEngine/BlogEngine.NET/node_modules
/BlogEngine/BlogEngine.NET/obj
